apiVersion: batch/v1
kind: Job
metadata:
  labels: {app: bexhoma, component: benchmarker, configuration: default, experiment: default, client: default}
  name: bexhoma-benchmarker
spec:
  backoffLimit: 1
  completions: 1
  parallelism: 1
  template:
    metadata:
      labels: {app: bexhoma, component: benchmarker, configuration: default, experiment: default, client: default}
    spec:
      automountServiceAccountToken: false
      imagePullSecrets:
      - name: dockerhub
      nodeSelector: 
      tolerations:
      - key: "nvidia.com/gpu"
        effect: "NoSchedule"
      containers:
      - name: dbmsbenchmarker
        image: bexhoma/benchmarker_dbmsbenchmarker:v0.13.6
        imagePullPolicy: Always
        #imagePullPolicy: IfNotPresent
        env:
        - {name: MPLCONFIGDIR, value: '/tmp/'} # matplotlib
        - {name: DBMSBENCHMARKER_CLIENT, value: '1'}
        - {name: DBMSBENCHMARKER_CODE, value: '1611607321'}
        - {name: DBMSBENCHMARKER_SLEEP, value: '60'}
        - {name: DBMSBENCHMARKER_CONNECTION, value: 'MySQL-1'}
        - {name: DBMSBENCHMARKER_ALIAS, value: 'DBMS-A'}
        - {name: DBMSBENCHMARKER_DEV, value: '0'}
        resources:
          requests: {cpu: 1000m, memory: 1Gi}
          limits: {cpu: 16000m, memory: 128Gi}
        securityContext:
          allowPrivilegeEscalation: false
          #runAsNonRoot: true
          #runAsUser: 1000
          #runAsGroup: 1000
          #capabilities:
          #  drop:
          #    - ALL
          #readOnlyRootFilesystem: true #Matplotlib requires access to a writable cache directory, but the default path (/.config/matplotlib) is not a writable directory
        volumeMounts:
        - name: bexhoma-results
          mountPath: /results
      restartPolicy: Never
      volumes:
      - name: bexhoma-results
        persistentVolumeClaim:
          claimName: bexhoma-results
